.fruits-container > h1{
    margin: 2vh 0;
    text-align: center;
}

.fruits-container > p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}

.product{
    width: 70%;
    height: 50vh;
    border: 1px solid black;
    margin: 5vh auto;
    text-align: center;
    position: relative;
}

.fruitImage{
    height: 80%;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    object-fit: cover;
}

.fruitInfo{
    position: relative;
    background-color: lightblue;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.fruitName{
    position: absolute;
    font-size: 1rem;
    left: 5%;
}

.fruitPrice{
    position: absolute;
    right: 15%;
}

.fruitShopCart{
    position: absolute;
    font-size: 1.5rem;
    right: 5%;
}

.fruitCountryFlag{
    position: absolute;
    inset: 0;
    width: 10vw;
}

.fruitFavorite{
    position: absolute;
    font-size: 2rem;
    right: 0;
}
